@media only screen and (max-width: 1770px) {

	.row {
		padding: 0 3%;
	}

	/*-- Header --*/

	.contacts-list li a {
	    font-size: 16px;
	    line-height: 16px;
	}

	/*-- /Header --*/

	/*-- Main Nav --*/

	.main-nav .col-3 {
	     padding-right: 0;
	}

	/*-- /Main Nav --*/

	/*-- Section 1 Promo Section --*/

	.accordeon-item {
	    margin: 17px 0;
	}

	.accordeon-title {
	    font-size: 32px;
	    line-height: 32px;
	    padding: 0 0 0 6%;
	}

	.accordeon-title:before {
	    width: 12px;
	    height: 12px;
	}

	.accordeon-item-content {
	    padding: 9px 0 0 6%;
	}

	.accordeon-item-content p {
	    font-size: 21px;
	    line-height: 32px;
	}

	.calc-btn {
	    margin: 21px 0;
	    padding: 23px 1% 23px 1%;
	}

	.center-block h1 {
	    font-size: 52px;
	    line-height: 63px;
	}

	/*-- .Section 1 Promo Section --*/

	/*-- Section 2 Main Page --*/

	.first-item {
	    height: auto;
	}

	.category-item h2 {
	    font-family: "Noto Serif", Arial, Verdana, sans-serif;
	    font-size: 50px;
	    line-height: 61px;
	}

	.category-item-row .col-1 a {
	    font-size: 16px;
	    line-height: 23px;
	}

	.category-item .inner {
	    padding: 26px 6%;
	}

	.category-item-header {
	    margin-bottom: 12px;
	}

	.category-item-header h3 {
	    font-size: 24px;
	    line-height: 32px;
	}

	.category-item-row .col-1 {
	    padding: 10px 3% 10px 0;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.two-cols-article .col-1 .inner {
	    padding: 40px 5% 40px 6%;
	}

	.two-cols-article h2 {
	    font-size: 52px;
	    line-height: 64px;
	    padding: 6px 0 12px 0;
	}

	.video-block {
	    height: 510px;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 1 Osago Description Page --*/

	.main-content-inner {
	    padding-top: 25px;
	}

	.main-content h2 {
	    font-size: 42px;
	    line-height: 47px;
	    padding: 14px 0;
	}

	.h-descript {
	    font-size: 23px;
	    line-height: 29px;
	}

	.yellow-tabs-block h3 {
	    font-size: 23px;
	    line-height: 27px;
	    padding: 10px 0;
	}

	.form-box h3 {
		font-size: 21px;
		line-height: 26px;
	    padding: 13px 0 16px 0;
	}

	.form-row {
	    margin: 0 0 15px 0;
	}

	.form-row h3 {
	    font-size: 20px;
	    line-height: 25px;
	    padding: 4px 0 12px 0;
	}

	.radio-box label {
	    font-size: 18px;
	    line-height: 24px;
	}

	.hidden-box {
	    padding: 38px 4% 21px 4%;
	}

	.hidden-box p {
	    font-size: 20px;
	    line-height: 22px;
	}

	.form-box.two-cols {
	    padding: 10px 0;
	}

	.dashed-pill {
	    padding: 17px 16px;
	    font-size: 18px;
	    line-height: 31px;
	}

	a.yellow-block {
		margin: -25px 0 0 0;
	    padding: 5px 5%;
	}

	/*-- Sidebar --*/

	.sidebar {
	    padding: 40px 0 18px 0;
	}

	.conpany-offer .count-offers {
	    font-size: 57px;
	    line-height: 69px;
	}

	.conpany-offer h3 {
	    font-size: 28px;
	    line-height: 30px;
	}

	.sidebar .yellow-tabs-block {
	    margin: 0 0 10px 0;
	}

	.yellow-tabs label span {
	    font-size: 14px;
	    line-height: 16px;
	}

	.company-item .offer-price {
	    font-size: 26px;
	    line-height: 33px;
	}

	/*-- /Sidebar --*/

	/*-- /Section 1 Osago Description Page --*/

	/*-- Footer --*/

	.footer h4 {
	    font-size: 15px;
	    line-height: 23px;
	    padding: 13px 0;
	}

	.seo-txt li {
	    padding: 12px 0;
	}

	.seo-txt li a {
	    font-size: 15px;
	    line-height: 23px;
	}

	.soc-links li a {
	    width: 36px;
	    height: 36px;
	}

	.soc-links li a i {
	    font-size: 20px;
	    line-height: 33px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1360px) {

	/*-- Main Nav --*/

	.main-nav .col-2 {
	    width: 49%;
	}

	.main-nav .col-3 {
	    width: 38%;
	}

	.main-nav ul li a {
	    font-size: 16px;
	    line-height: 23px;
	}

	.main-nav .app-store-link-pill {
	    min-width: 190px;
	}

	/*-- /Main Nav --*/

	/*-- Section 1 Osago Description Page  --*/

	.form-box.two-cols .col-1 {
	    width: 100%;
	    padding: 0 0% 0 0;
	}

	.form-box.two-cols .col-2 {
	    width: 100%;
	}

	/*-- .Section 1 Osago Description Page  --*/

	/*-- Sidebar --*/

	.company-item .price {
	    width: 84px;
	    padding: 11px 2% 11px 7%;
	}

	.dashed-pill {
	    padding: 17px 16px;
	    font-size: 14px;
	    line-height: 24px;
	}

	/*-- /Sidebar --*/

	/*-- Footer --*/

	.footer .col-1 {
	    width: 50%;
	}

	.footer .col-2 {
	    width: 25%;
	}

	.footer .col-3 {
	    width: 25%;
	}

	.mobiles {
		display: none;
	}

	.col-4-col-2 {
	    width: auto;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 1240px) {

	.main-nav .col-1 {
	    width: 26%;
	}

	.main-nav .col-2 {
	    width: 74%;
	    text-align: left;
	}

	.main-nav ul li {
	    padding: 11px 4% 11px 0;
	}

	.main-nav .col-3 {
	    width: 100%;
	    text-align: left;
	}

	.main-nav .col-3 .inner {
	    width: 100%;
	    max-width: 440px;
	}

	.category-item,
	.grid-sizer {
		width: 50%;
	}

	/*-- Main Content --*/

	.main-content {
	    width: 100%;
	    padding: 0;
	}

	.main-content .inner {
	    padding: 10px 3%;
	}

	/*-- /Main Content --*/

	/*-- Sidebar --*/

	.show_menu {
	    display: block;
	}

	.sidebar {
		position: fixed;
		top: 0;
		right: -110%;
		padding: 0px 0 10px 0;
		max-height: 100vh;
		z-index: 14;
		border-radius: 0 !important;
		-webkit-box-shadow: 0px 0px 8px 14px rgba(0, 0, 0, .4);
		-moz-box-shadow: 0px 0px 8px 14px rgba(0, 0, 0, .4);
		box-shadow: 0px 0px 8px 14px rgba(0, 0, 0, .4);
	}

	.sidebar-header {
	    margin: 20px 0 0 0;
	}

	/*-- /Sidebar --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Header --*/

	.contacts-list {
	    display: none;
	}

	/*-- /Header --*/

	/*-- Section 1 Promo Section --*/

	.accordeon-item {
	    margin: 10px 0;
	}

	.accordeon-title {
	    font-size: 26px;
	    line-height: 27px;
	    padding: 0 0 0 5%;
	}

	.accordeon-title:before {
	    top: 6px;
	}

	.accordeon-item-content {
	    padding: 4px 0 0 5%;
	}

	.accordeon-item-content p {
	    font-size: 18px;
	    line-height: 27px;
	}

	.main-h {
	    font-size: 47px;
	    line-height: 59px;
	}

	.calc-btn {
	    margin: 21px 0;
	    padding: 16px 1% 16px 1%;
		font-size: 26px;
		line-height: 28px;
	}

	/*-- /Section 1 Promo Section --*/

	/*-- Section 2 Main Page --*/

	.category-item h2 {
	    font-size: 39px;
	    line-height: 44px;
	}	

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.two-cols-article .col-1,
	.two-cols-article .col-2 {
	    width: 100%;
	    margin: 20px auto;
	    padding: 0;
	}

	.advantages-thumbnails {
	    padding: 20px 0;
	}

	.advantages-thumbnails .thumbnail {
	    width: 33.33%;
	    padding: 10px 2%;
	}

	.advantages-thumbnails .thumbnail h3 {
	    padding: 11px 0;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Footer --*/

	.footer .col {
	    padding: 14px 1%;
	}

	.footer .col-1 {
	    width: 100%;
	}

	.footer .col-2 {
	    width: 50%;
	}

	.footer .col-3 {
	    width: 50%;
	}

	.col-4-col-2 {
	    width: 100%;
	}

	.seo-txt li {
	    padding: 10px 0;
	}

	/*-- /Footer --*/

	/*-- Company Info Box --*/

	.yellow-block {
	    padding: 7px 5%;
	}

	.company-info-header .col-1 {
	    width: 34%;
	}

	.company-info-header .col-2 {
	    width: 39%;
	}

	.company-info-header .col-3 {
	    width: 27%;
	}

	.company-info-content .col-1,
	.company-info-content .col-2 {
	    width: 100%;
	    padding: 0;
	}

	.rating-table-header p {
	    text-align: right;
	}

	ul.mark-list li {
	    font-size: 18px;
	    line-height: 23px;
	    font-weight: normal;
	    padding: 4px 0;
	}

	ul.mark-list li:before {
	    line-height: 22px;
	}

	.send-form {
	    margin: 27px 0;
	}

	.company-info-box {
	    padding: 0 0 6px 0;
	}

	/*-- /Company Info Box --*/

	/*-- Section 1 Page 04 --*/

	.dashed-pill {
	    padding: 17px 16px;
	    font-size: 16px;
	    line-height: 24px;
	}

	/*-- .Section 1 Page 04 --*/

}


@media only screen and (max-width: 768px) {

	section {
	    padding: 16px 0 20px 0;
	}

	/*-- Header --*/

	.header-site {
    	background: rgba(251, 198, 35, 1);
    	padding: 0 0 10px 0;
	}

	.header-site.inner_page {
    	background: rgba(251, 198, 35, 1);
	}

	.logo-box img {
	    opacity: 0;
	}

	.logo-box img.black-logo {
	    opacity: 1;
	}

	.header-site .respmenubtn span {
	    border: 1px solid #222f3a;
	    background: #222f3a;
	}

	.header-site .respmenubtn:active span,
	.header-site .respmenubtn:hover span {
	    border: 1px solid #2c3e50;
	    background: #2c3e50;
	}

	.call-back,
	.yellow-btn  {
	    display: none;
	}

	.logo-box {
	    width: 72px;
	    top: 0;
	}

	.respmenubtn-box {
		top: -5px;
	}

	/*-- /Header --*/

	/*-- Main Nav --*/

	.resp-contacts-list {
		display: block !important;
	}

	.resp-contacts-list li {
		width: 50%;
		margin: 0;
	}

	.main-nav .col-1,
	.main-nav .col-2 {
	    width: 100%;
	    padding: 10px 0;
	}

	.main-nav ul li {
	    padding: 7px 2% 7px 0;
	}

	.main-nav .col-3 .inner {
	    width: 100%;
	    max-width: 100%;
	}

	/*-- /Main Nav --*/

	/*-- Bottom Fixed Block --*/

	.bottom-fixed-block {
		display: none;
	}

	/*-- /Bottom Fixed Block --*/

	/*-- Section 1 Main Page --*/

	.promo-section {
		padding-top: 73px !important;
	}

	.calc-btn {
	    padding: 16px 15px 16px 15px;
	    font-size: 18px;
	    line-height: 26px;
	    min-width: 280px;
	}

	.calc-icon {
	    width: 23px;
	    height: 30px;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	.category-item,
	.grid-sizer {
	    width: 100%;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.two-cols-article h2 {
	    font-size: 48px;
	    line-height: 58px;
	}

	.transparent-pill {
	    margin: 17px 0;
	}

	.advantages-thumbnails .thumbnail {
	    width: 50%;
	}

	.video-block {
	    height: 354px;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Main Content --*/

	.main-content-inner {
	    padding-top: 91px;
	}

	/*-- /Main Content --*/

	/*-- Section 1 Osago Description Page --*/

	.yellow-btn-big {
	    min-width: 300px;
	    padding: 13px 1%;
	}

	.yellow-tabs label {
	    padding: 12px 1%;
	}

	.yellow-tabs label span {
	    font-size: 13px;
	    line-height: 16px;
	}

	.btns-three-cols a {
	    width: 100%;
	    margin: 10px 0;
	    padding: 16px 1%;
	    font-size: 19px;
	}

	.btns-two-cols a {
	    width: 100%;
	    min-width: auto;
	    margin: 10px 0 !important;
	}

	.dashed-pill {
		width: 100%;
		margin: 10px 0;
		padding: 16px 1%;
		font-size: 19px;
	}

	/*-- Company Info Box --*/

	.company-info-box {
	    padding: 81px 0 6px 0;
	}

	.yellow-block p {
	    font-size: 18px;
	}

	.company-info-header {
	    padding: 9px 5% 9px 5%;
	}

	.company-info-header .col {
	    padding: 0 1% 0 0;
	}

	.company-info-header p {
	    font-size: 14px;
	    line-height: 26px;
	}

	.company-info-header p.p-1 {
	    font-size: 15px;
	    line-height: 16px;
	}

	.company-info-content {
	    padding: 6px 3%;
	}

	.company-info-content .row-2 {
	    padding: 10px 0 20px 0;
	}

	/*-- /Company Info Box --*/

	/*-- /Section 1 Osago Description Page --*/

	/*-- Section 1 Page 04  --*/

	.payments-btns {
	    margin: 17px 0 33px 0;
	}

	.payments-btns .payments-btns-inner {
	    width: 100%;
	    margin: 0;
	}

	.payment-radio {
	    display: block;
	    width: 100%;
	    margin: 10px 0;
	}

	.payment-radio label {
	    margin: 10px 0%;
	}

	/*-- /Section 1 Page 04  --*/

	/*-- Section 1 Page 05 --*/

	.order-two-cols {
		margin: 7px 0;
	}

	.order-two-cols .col {
	    width: 100%;
	    padding: 10px 0;
	}

	/*-- Section 1 Page 05 --*/

	/*-- Popup --*/

	.popup {
	    width: 96%;
	}

	.popup h4 {
	    font-size: 32px;
	    line-height: 40px;
	}

	.popup .input-box {
	    margin: 2px 0 5px 0;
	}

	.popup .yellow-btn-big {
		margin: 12px 0;
		padding: 13px 15px;
	}

    /*-- /Popup --*/

}

@media only screen and (max-width: 630px) {

	/*-- Header Site --*/

	.header-site {
	    padding: 0 0 7px 0;
	}

	.respmenubtn-box {
	    top: -4px;
	}

	.white-btn {
		display: block;
	}

	/*-- /Header Site --*/

	/*-- Section 1 Promo Section --*/

	.promo-sect-bg {
		display: none;
	}

	.accordeon-block {
		display: none;
	}

	.main-h { {
	    font-size: 38px;
	    line-height: 44px;
	}

	.center-block {
		padding: 80px 0 0 0;
	}

	.bottom-block h2 {
		display: none;
	}

	/*-- /Section 1 Promo Section --*/

}


@media only screen and (max-width: 480px) {

	/*-- Main Nav --*/

	.main-nav .col-2 ul {
	    width: 100%;
	    padding: 0;
	}

	.main-nav .col-2 ul li {
	    width: 100%;
	}

	.main-nav .app-store-link-pill:nth-child(n + 1) {
	    margin: 10px 1%;
	    float: none;
	}

	.main-nav .app-store-link-pill:nth-child(2n) {
	    margin: 10px 1%;
	    float: none;
	}

	/*-- /Main Nav --*/

	/*-- Section 2 Main Page --*/

	.category-item-row .col {
		display: block;
	}

	.category-item-row .col-1 {
		width: 100%;
	    padding: 7px 0;
	}

	.category-item-row .col-2 {
	    width: 100%;
	    padding: 11px 0 16px 0;
	}

	.price {
		display: inline-block;
		vertical-align: top;
	    padding: 7px 2% 7px 5%;
	}

	.category-item-header .img-box {
	    width: 80px;
	    padding: 0 2% 0 0;
	}

	.category-item-header .img-box img {
		width: 100%;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.video-block {
	    height: 275px;
	}

	.advantages-thumbnails .thumbnail {
	    width: 100%;
	    border-bottom: 1px solid #dfdfdf;
	}

	.advantages-thumbnails .thumbnail:last-child {
	    border-bottom: 1px solid transparent;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 1 Osago Description Page --*/

	.yellow-btn-big {
	    min-width: 261px;
	    padding: 9px 1%;
	}

	.yellow-tabs {
		display: block;
	}

	.yellow-tabs label {
	    display: inline-block;
	    vertical-align: middle;
	    width: 50%;
	}

	.yellow-tabs label span {
	    font-size: 14px;
	    line-height: 16px;
	}

	.btns-two-cols a {
	    width: 100%;
	    margin: 10px auto !important;
		padding: 16px 1%;
		font-size: 19px;
	}

	.form-row .radio-box {
	    width: 100%;
	}

	.main-content h2 {
		font-size: 33px;
		line-height: 38px;
	}

	.h-descript {
	    font-size: 21px;
	    line-height: 28px;
	}

	.form-row h3 {
	    font-size: 17px;
	    line-height: 22px;
	}

	.radio-box label {
	    font-size: 16px;
	    line-height: 24px;
	}

	.dashed-pill {
		padding: 10px 6px;
	    font-size: 17px;
	    line-height: 24px;
	}

	.hidden-box {
	    padding: 30px 2% 12px 2%;
	}

	.hidden-box p {
		display: block;
		width: 100% !important;
		padding: 5px 0;
	    font-size: 20px;
	    line-height: 22px;
	}

	/*-- /Section 1 Osago Description Page --*/

	/*-- Sidebar --*/

	.sidebar .yellow-tabs label {
	    width: 100%;
	}

	.sidebar .yellow-tabs label span {
	    font-size: 18px;
	    line-height: 26px;
	}

	/*-- /Sidebar --*/

	/*-- Company Info Box --*/

	.company-info-header .col-1 {
	    width: 100%;
	}

	.company-info-header .col-2,
	.company-info-header .col-3 {
	    width: 50%;
	}

	.send-form h3 {
	    padding: 7px 0;
	    font-size: 23px;
	    line-height: 33px;
	}

	.send-form-input {
	    width: 98%;
	    margin: 13px auto 18px auto;
	    padding: 18px 2%;
	    font-size: 16px;
	    line-height: 33px;
	}

	/*-- /Company Info Box --*/

	/*-- Section 1 Page 05 --*/

	.order-two-cols p {
	    font-size: 23px;
	    line-height: 34px;
	    padding: 2px 0;
	}

	.order-two-cols p.num {
	    font-size: 44px;
	    line-height: 49px;
	}

	/*-- /Section 1 Page 05 --*/

	/*-- Footer --*/

	.footer .col-1,
	.footer .col-2,
	.footer .col-3,
	.footer .col-4 {
	    width: 100%;
	    padding: 10px 0;
	}

	.seo-txt li {
		width: 100%;
	    padding: 8px 0;
	}

	/*-- /Footer --*/

	/*-- Popup --*/

	.popup h4 {
	    font-size: 28px;
	    line-height: 40px;
	}

	/*-- /Popup --*/

}

@media only screen and (max-width: 350px) {

	/*-- Section 1 Main Page --*/

	.main-h {
	    font-size: 44px;
	    line-height: 59px;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 3 Main Page --*/

	.two-cols-article {
	    margin: 40px 0 10px 0;
	}

	.video-block {
	    height: 210px;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Company Info Box --*/

	.yellow-block p {
	    font-size: 15px;
	}

	/*-- /Company Info Box --*/
}

@media only screen and (min-width: 1241px) {
	.mCSB_scrollTools {
		opacity: 0 !important;
	}

	.sidebar {
		height : 100vh !important;
		top : 0px !important;
		left : initial !important;
	}
}