@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/


@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/AvenirNext-Regular.eot");
    src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/AvenirNext-Regular.woff2") format("woff2"),
        url("../fonts/AvenirNext-Regular.woff") format("woff"),
        url("../fonts/AvenirNext-Regular.ttf") format("truetype"),
        url("../fonts/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/AvenirNext-Medium.eot");
    src: url("../fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/AvenirNext-Medium.woff2") format("woff2"),
        url("../fonts/AvenirNext-Medium.woff") format("woff"),
        url("../fonts/AvenirNext-Medium.ttf") format("truetype"),
        url("../fonts/AvenirNext-Medium.svg#AvenirNext-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    background: rgb(241, 243, 246);
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
}

.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}


.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
}


*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
    overflow: auto;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 30px 0 55px 0;
}

h1 {
    font-family: "Noto Serif", Arial, Verdana, sans-serif;
    font-size: 60px;
    line-height: 67px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 2px solid #b7bcc0;
    text-align: center;
}

h2 {
    font-family: "Noto Serif", Arial, Verdana, sans-serif;
    font-size: 60px;
    line-height: 74px;
    font-weight: bold;
    color: #232a32;
}

h3 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    padding: 20px 0;
}

h4 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
    padding: 15px 0;
}

p {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #44596b;
}

li {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: #506475;
}

img {
    outline: none;
    border: 1px solid transparent;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0 5%;
    max-width: 1770px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-site {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    padding: 49px 0 10px 0;

    -webkit-transition-property: background, top;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, top;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, top;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, top;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, top;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.header-site.fixed-position {
    position: fixed;
}

.header-site .col {
    display: inline-block;
    vertical-align: middle;
}

.header-site .col-1 {
    width: 9%;
}

.header-site .col-2 {
    width: 91%;
    text-align: right;
    padding: 10px 7% 10px 1%;
    position: relative;
}

.logo-box {
    display: inline-block;
    vertical-align: top;
    width: 99px;
    height: auto;
    position: relative;
}

.logo-box img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.logo-box img.black-logo {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.contacts-list {
    display: inline-block;
    vertical-align: top;
    margin: 16px 2%;
    min-width: 41%;
}

.contacts-list li {
    display: inline-block;
    vertical-align: top;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #90a9b7;
    margin: 0 5%;
    text-align: left;
}

.contacts-list li a {
    display: inline-block;
    vertical-align: top;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    color: #ffffff;
    margin: 5px 0;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.contacts-list li a:link,
.contacts-list li a:visited {
    color: #ffffff;
}

.contacts-list li a.active,
.contacts-list li a:active {
    color: #90a9b7;
}

.contacts-list li a:hover {
    color: #90a9b7;
}

.contacts-list li a i {
    font-size: 19px;
    line-height: 19px;
    margin: 0 0 0 12px;
    position: relative;
    top: 2px;
}

.contacts-list li a.blue-link {
    color: #90a9b7;
    margin: 0 0 0 15px;
}

.contacts-list li a.blue-link.active,
.contacts-list li a.blue-link:active {
    color: #90a9b7;
}

.contacts-list li a.blue-link:hover {
    color: #90a9b7;
}

.contacts-list li span {
    display: block;
    font-size: 18px;
    line-height: 19px;
}

.resp-contacts-list {
    display: none !important;
    margin: 6px 0;
}

.resp-contacts-list li {
    margin: 0 8% 0 0;
}

.call-back {
    display: inline-block;
    vertical-align: top;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #ffffff;
    margin: 20px 2%;
    border-bottom: 1px dashed #ffffff;

    -webkit-transition-property: color, border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.call-back:link,
.call-back:visited {
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
}

.call-back.active,
.call-back:active {
    color: #90a9b7;
    border-bottom: 1px dashed #90a9b7;
}

.call-back:hover {
    color: #90a9b7;
    border-bottom: 1px dashed #90a9b7;
}

.yellow-btn {
    display: inline-block;
    vertical-align: top;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #000000;
    background: rgb(251, 198, 35);
    margin: 10px 3%;
    padding: 16px 30px;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.yellow-btn:link,
.yellow-btn:visited {
    background: rgb(251, 198, 35);
}

.yellow-btn.active,
.yellow-btn:active {
    background: rgb(255, 251, 110);
}

.yellow-btn:hover {
    background: rgb(255, 251, 110); 
}

/* ----- Responsive Menu Button ------ */

.respmenubtn-box {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    /*position: relative;*/
    position: absolute;
    top: 26px;
    right: 0;
    z-index: 11;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 35px;
    cursor: pointer;
    position: relative;
    top: 0;
    z-index: 8;
    background: transparent;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 43px;
    height: 5px;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 1);
    margin: 0 0 9px 0;

    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    border: 1px solid #2c3e50;
    background:  #2c3e50;
}

.respmenubtn.active span {
    position: relative;
    top: -1px;
    border: 1px solid #2c3e50;
    background: #2c3e50;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 3px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

.header-site.inner_page {
    background: rgba(44, 62, 80, 1);
    padding: 6px 0 9px 0;
}

.header-site.inner_page .contacts-list li a:link,
.header-site.inner_page .contacts-list li a:visited {
    color: #ffffff;
}

.header-site.inner_page .contacts-list li a.active {
    color: #90a9b7;
}

.header-site.inner_page .contacts-list li a:active,
.header-site.inner_page .contacts-list li a:hover {
    color: #90a9b7;
}

.header-site.inner_page .contacts-list li a.blue-link:link,
.header-site.inner_page .contacts-list li a.blue-link:visited {
    color: #90a9b7;
}

.header-site.inner_page a.call-back:link,
.header-site.inner_page a.call-back:visited {
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
}

.header-site.inner_page a.call-back.active {
    color: #90a9b7;
    border-bottom: 1px dashed #90a9b7;
}

.header-site.inner_page a.call-back:active,
.header-site.inner_page a.call-back:hover {
    color: #90a9b7;
    border-bottom: 1px dashed #90a9b7;
}

.header-site.inner_page .respmenubtn span {
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 1);
}

.header-site.inner_page .respmenubtn.active span {
    border: 1px solid #2c3e50;
    background: #2c3e50;
}

/*-- Main Nav --*/

.header-site.main-nav_active {
    background: rgba(251, 198, 35, 1);
}

.header-site.main-nav_active .logo-box img {
    opacity: 0;
}

.header-site.main-nav_active .logo-box img.black-logo {
    opacity: 1;
}

.header-site.main-nav_active .contacts-list li a:link,
.header-site.main-nav_active .contacts-list li a:visited {
    color: #222f3a;
}

.header-site.main-nav_active .contacts-list li span {
    color: #222f3a;
}

.header-site.main-nav_active .contacts-list li a.active {
    color: #ffffff;
}

.header-site.main-nav_active .contacts-list li a:active,
.header-site.main-nav_active .contacts-list li a:hover {
    color: #ffffff;
}

.header-site.main-nav_active .contacts-list li a.blue-link:link,
.header-site.main-nav_active .contacts-list li a.blue-link:visited {
    color: #222f3a;
}

.header-site.main-nav_active .contacts-list li a.blue-link:hover,
.header-site.main-nav_active .contacts-list li a.blue-link:active {
    color: #ffffff;
}

.header-site.main-nav_active a.call-back:link,
.header-site.main-nav_active a.call-back:visited {
    color: #222f3a;
    border-bottom: 1px dashed #222f3a;
}

.header-site.main-nav_active a.call-back.active {
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
}

.header-site.main-nav_active a.call-back:active,
.header-site.main-nav_active a.call-back:hover {
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
}

.header-site.main-nav_active .yellow-btn:link,
.header-site.main-nav_active .yellow-btn:visited {
    background: rgb(255, 255, 255);
}

.header-site.main-nav_active .yellow-btn:active,
.header-site.main-nav_active .yellow-btn:hover {
    background: rgb(0, 0, 0);
    color: #ffffff;
}

.header-site.main-nav_active .respmenubtn span {
    border: 1px solid #222f3a;
    background: #222f3a;
}

.header-site.main-nav_active .respmenubtn:active span,
.header-site.main-nav_active .respmenubtn:hover span {
    border: 1px solid #2c3e50;
    background: #2c3e50;
}

.main-nav {
    display: none;
    padding: 28px 0;    
}

.main-nav .col {
    display: inline-block;
    vertical-align: top;
}

.main-nav .col-1 {
    width: 13%;
}

.main-nav .col-2 {
    width: 46%;
    text-align: left;
    padding-right: 1%;
}

.main-nav .col-3 {
    width: 41%;
    text-align: right;
    padding-right: 10%;
}

.main-nav ul {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.main-nav ul li {
    padding: 11px 4% 12px 0;
}

.main-nav .col-2 ul li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 13px 4% 13px 0;
}

.main-nav ul li a {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    color: #1f2c37;
    background-image: -webkit-linear-gradient(180deg,#908037 0,#908037);
    background-image: -moz-linear-gradient(180deg,#908037 0,#908037);
    background-image: linear-gradient(180deg,#908037 0,#908037);
    background-repeat: repeat-x;
    background-position: 0 90%;
    background-size: 1px 1px;
    text-decoration: none;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav ul li a:link,
.main-nav ul li a:visited {
    color: #1f2c37;
    background-image: -webkit-linear-gradient(180deg,#908037 0,#908037);
    background-image: -moz-linear-gradient(180deg,#908037 0,#908037);
    background-image: linear-gradient(180deg,#908037 0,#908037);
    background-repeat: repeat-x;
    background-position: 0 90%;
    background-size: 1px 1px;
    text-decoration: none;
}

.main-nav ul li a.active,
.main-nav ul li a:active {
    color: #ffffff;
    background-image: none;
}

.main-nav ul li a:hover {
    color: #ffffff;
    background-image: none;
}

.shape-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.triangle-icon {
    display: block;
    width: 39px;
    height: 30px;
    margin: -2px auto 2px auto;
    background-image: url(../img/main_nav_shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.shape-link {
    display: inline-block;
    vertical-align: top;
}

p.shape {
    display: inline-block;
    vertical-align: top;
    padding: 4px 0 0 0;
}

p.shape span {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #1f2c37;
    opacity: .7;
}

.main-nav .app-store-link-pill {
    width: 48%;
    min-width: 197px;
    margin: 10px 2%;
}

.main-nav .app-store-link-pill:nth-child(n + 1) {
    margin: 10px 2% 10px 0;
    float: left;
}

.main-nav .app-store-link-pill:nth-child(2n) {
    margin: 10px 0 10px 2%;
    float: right;
}

.main-nav .col-3 .inner {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    max-width: 440px;
}

.main-nav .col-3 .yellow-btn {
    width: 100%;
    max-width: 100%;
    margin: 25px 0;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

/*-- /Main Nav --*/

/*-------------------------------------------*/
/* ----- Bottom Fixed Block------ */
/*-------------------------------------------*/

.bottom-fixed-block {
    position: fixed;
    right: 0;
    bottom: 1%;
    z-index: 12;
}

.app-store-link-circle {
    display: table;
    width: 58px;
    height: 58px;
    margin: 14px auto;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.app-store-link-circle:before,
.app-store-link-circle:after {
    display: table-cell;
    vertical-align: middle;
    content: "";
    width: 1%;
    height: 58px;
}

.app-store-link-circle span {
    display: table-cell;
    vertical-align: middle;
    width: 98%;
    text-align: center;
}

.app-store-link-circle img {
    display: inline-block;
    vertical-align: top;
}

.live-chat {
    display: block;
    width: 194px;
    height: 156px;
    cursor: pointer;
    margin: -30px 0 0 0;
    position: relative;
    background-image: url(../img/live_chat_bg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.live-chat img {
    display: block;
    max-width: 59px;
    max-height: 54px;
    position: absolute;
    top: 34px;
    left: 67px;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 Promo Section --*/

.promo-section {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.promo-section:before {
    display: block;
    content: "";
    /*background: rgba(0, 0, 0, .4);*/
    background: #0d1823;
    opacity: .68;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.promo-sect-bg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

.promo-sect-bg:before {
    display: block;
    content: "";
    background: #0d1823;
    opacity: .68;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.promo-sect-bg img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.promo-sect-bg video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.promo-section .row {
    position: relative;
    z-index: 2;
}

.accordeon-block {

}

.accordeon {
    max-width: 600px;
}

.accordeon-item {
    margin: 28px 0;
}

.accordeon-title {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    color: #ffffff;
    margin: 5px 0;
    padding: 0 0 0 9%;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.accordeon-title:link,
.accordeon-title:visited {
    color: #ffffff;
}

.accordeon-title.active,
.accordeon-title:active {
    color: #f6d403;
}

.accordeon-title:hover {
    color: #f6d403;
}

.accordeon-title:before {
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: 0;
    background: #ffffff;
}

.accordeon-title:hover:before {
    background: #f6d403;
}

.accordeon-item.active .accordeon-title {
    color: #f6d403;
}

.accordeon-item.active .accordeon-title:before {
    background: #f6d403;
}

.accordeon-item-content {
    padding: 18px 0 0 9%;
}

.accordeon-item-content p {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    color: #ffffff;
}

.center-block {
    display: table;
    width: 100%;
}

.center-block:before,
.center-block:after {
    display: table-cell;
    vertical-align: middle;
    content: "";
    width: 1%;
}

.center-block .center-cell {
    display: table-cell;
    vertical-align: middle;
    width: 98%;
}

.main-h {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 60px;
    line-height: 67px;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 2px solid #b7bcc0;

    -webkit-transition-property: color, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-h:link,
.main-h:visited {
    color: #ffffff;
    border-bottom: 1px solid #b7bcc0;
}

.main-h.active,
.main-h:active {
    color: #fbc623;
    border-bottom: 1px solid transparent;
}

.main-h:hover {
    color: #fbc623;
    border-bottom: 1px solid transparent;
}

.main-h span {
    text-transform: uppercase;
}

.calc-btn {
    display: inline-block;
    vertical-align: top;
    min-width: 410px;
    cursor: pointer;
    text-align: center;
    margin: 25px 0;
    /*padding: 33px 1% 36px 1%;*/
    padding: 33px 1% 26px 1%;
    /*background: rgba(224, 229, 227, 1);*/
    border: 1px solid transparent;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    color: #304f65;

    background: rgb(225,229,227);
    background: -moz-linear-gradient(top, rgba(225,229,227,1) 0%, rgba(215,226,232,1) 100%);
    background: -webkit-linear-gradient(top, rgba(225,229,227,1) 0%,rgba(215,226,232,1) 100%);
    background: linear-gradient(to bottom, rgba(225,229,227,1) 0%,rgba(215,226,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e5e3', endColorstr='#d7e2e8',GradientType=0 );

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.calc-btn:link,
.calc-btn:visited {
    background: rgb(225,229,227);
    background: -moz-linear-gradient(top, rgba(225,229,227,1) 0%, rgba(215,226,232,1) 100%);
    background: -webkit-linear-gradient(top, rgba(225,229,227,1) 0%,rgba(215,226,232,1) 100%);
    background: linear-gradient(to bottom, rgba(225,229,227,1) 0%,rgba(215,226,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e5e3', endColorstr='#d7e2e8',GradientType=0 );
}

.calc-btn.active,
.calc-btn:active {
    background: rgb(225,229,227);
    background: -moz-linear-gradient(top, rgba(225,229,227,1) 0%, rgba(188,200,207,1) 100%);
    background: -webkit-linear-gradient(top, rgba(225,229,227,1) 0%,rgba(188,200,207,1) 100%);
    background: linear-gradient(to bottom, rgba(225,229,227,1) 0%,rgba(188,200,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e5e3', endColorstr='#bcc8cf',GradientType=0 );
}

.calc-btn:hover {
    background: rgb(225,229,227);
    background: -moz-linear-gradient(top, rgba(225,229,227,1) 0%, rgba(188,200,207,1) 100%);
    background: -webkit-linear-gradient(top, rgba(225,229,227,1) 0%,rgba(188,200,207,1) 100%);
    background: linear-gradient(to bottom, rgba(225,229,227,1) 0%,rgba(188,200,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e5e3', endColorstr='#bcc8cf',GradientType=0 );
}

.calc-icon {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 46px;
    position: relative;
    top: -2px;
    right: 13px;
    background-image: url(../img/calculator_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.bottom-block {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.scroll-down h2 {
    display: inline-block;
    vertical-align: top;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 23px;
    line-height: 26px;
    font-weight: normal;
    color: #fbc623;
    border-bottom: 1px dashed #fbc623;
}

.scroll-down .scroll-down-arrow {
    display: block;
    width: 37px;
    height: 28px;
    margin: 31px auto 42px auto;
    background-image: url(../img/scroll_down_arrow_icon.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.white-btn {
    /*display: block;*/
    display: none;
    width: 100%;
    padding: 10px 1% 12px 1%;
    cursor: pointer;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 23px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    position: relative;
    z-index: 3;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.white-btn:link,
.white-btn:visited {
    background: rgba(255, 255, 255, 1);
}

.white-btn.active,
.white-btn:active {
    background: rgba(251, 198, 35, 1);
}

.white-btn:hover {
    background: rgba(251, 198, 35, 1);
}

/*-- Section 1 Promo Section --*/

/*-- Section 2 Main Page --*/

.category-item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: 19px 0;
    padding: 0 1%;
}

.category-item .inner {
    padding: 50px 9%;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, .35);
    -moz-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, .35);
    box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, .35);
}

.grid-sizer {
    width: 33%;
}

.category-item h2 {
    font-family: "Noto Serif", Arial, Verdana, sans-serif;
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    color: #232a32;
}

.first-item {
    height: 357px;
}

.first-item .inner {
    padding: 75px 0 75px 7%;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.category-item-header {
    display: table;
    width: 100%;
    margin-bottom: 33px;
}

.category-item-header .img-box {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
}

.category-item-header .col-2 {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 0 0 0 1%;
}

.category-item-header .img-box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 140px;
}

.category-item-header h3 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 30px;
    line-height: 35px;
    font-weight: normal;
    color: #232a32;
}

.category-item-row {
    display: table;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #d0dff0;
}

.category-item .category-item-row:last-child {
    border-bottom: none;
}

.category-item-row .col {
    display: table-cell;
    vertical-align: middle;
}

.category-item-row .col-1 {
    width: 69%;
    padding: 19px 3% 19px 0;
}

.category-item-row .col-2 {
    width: 31%;
    padding: 20px 0;
}

.category-item-row .col-1 a {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: #506475;
}

.category-item-row .col-1 a:hover {
    background-image: -webkit-linear-gradient(180deg,#e6eef7 0,#e6eef7);
    background-image: -moz-linear-gradient(180deg,#e6eef7 0,#e6eef7);
    background-image: linear-gradient(180deg,#e6eef7 0,#e6eef7);
    background-repeat: repeat-x;
    background-position: 0 90%;
    background-size: 1px 1px;
    text-decoration: none;
}

.price {
    display: block;
    position: relative;
    background: rgb(251, 198, 35);
    padding: 7px 2% 5px 14%;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.price:hover {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(251,197,35,0.9);
    -moz-box-shadow: 0px 0px 17px 0px rgba(251,197,35,0.9);
    box-shadow: 0px 0px 17px 0px rgba(251,197,35,0.9);
}

.price .tr {
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -17px;
    border-style: solid;
    border-width: 25px 0 25px 17px;
    border-color: transparent transparent transparent #fbc523;
    opacity: 1;
}

.price p {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
    color: #7b6d2f;
}

.price p.p-1 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;
    color: #1f2c37;
}


/*-- /Section 2 Main Page --*/

/*-- Section 3 Main Page --*/

.two-cols-article {
    display: block;
    max-width: 1443px;
    margin: 30px auto 40px auto;
}

.two-cols-article .col-1 {
    width: 38%;
    padding: 0 2% 0 0;
}

.two-cols-article .col-2 {
    width: 62%;
}

.two-cols-article .col-1 .inner {
    padding: 16px 6% 38px 13%;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, .35);
    -moz-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
    box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
}

.two-cols-article h2 {
    font-family: "Noto Serif", Arial, Verdana, sans-serif;
    font-size: 60px;
    line-height: 74px;
    font-weight: bold;
    color: #232a32;
    padding: 18px 0;
}

.two-cols-article p {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #44596b;
    padding: 30px 0;
}

.transparent-pill {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    margin: 29px 0;
    padding: 7px 1% 6px 1%;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #000000;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 19px;
    line-height: 29px;
    font-weight: 500;
    color: #000000;

    -webkit-transition-property: background, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.transparent-pill:link,
.transparent-pill:visited {
    color: #000000;
    background: rgba(0, 0, 0, 0);
}

.transparent-pill.active,
.transparent-pill:active {
    color: #ffffff;
    background: rgba(0, 0, 0, 1);
}

.transparent-pill:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 1);
}

.video-block {
    height: 515px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.video-box {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-box video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hover-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hover-img:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
}

.hover-img img {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.start-video {
    display: block;
    width: 145px;
    height: 145px;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border: 1px solid #fbc623;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.start-video .play_icon {
    display: block;
    width: 70px;
    height: 92px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    background-image: url(../img/play_icon.png);
    background-position: center;
    background-size: 100%;

    -webkit-transition-property: transform;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.start-video:hover .play_icon {
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
    transform: scale(1.12);
}

.advantages-thumbnails {
    padding: 110px 0 20px 0;
}

.advantages-thumbnails .thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 20px 2%;
}

.advantages-thumbnails .thumbnail h3 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    padding: 20px 0;
}

.advantages-thumbnails .thumbnail p {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 17px;
    line-height: 23px;
    font-weight: normal;
    color: #000000;
    padding: 10px 0;
}

/*-- /Section 3 Main Page --*/


/*-- Inner Page --*/

/*-- Two Cols Content Template --*/
    
.two-cols-content-template {
    margin: 0 0 50px 0;
}

.main-content {
    width: 67%;
    padding: 70px 0 0 0;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
    -moz-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
    -ms-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
    box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
}

.main-content .inner {
    padding: 10px 11%;
}

.main-content .inner.blue-bg {
    background: rgb(249, 250, 251);
}

.sidebar {
    width: 31%;
    padding: 108px 3% 116px 3%;
    -webkit-border-radius: 0 0 34px 34px;
    -moz-border-radius: 0 0 34px 34px;
    -ms-border-radius: 0 0 34px 34px;
    -o-border-radius: 0 0 34px 34px;
    border-radius: 0 0 34px 34px;
    background: rgb(249, 250, 251);
    -webkit-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
    -moz-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
    -ms-box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
    box-shadow: 0px 8px 46px 0px rgba(175, 198, 217, 0.35);
}

/*-- /Two Cols Content Template --*/

/*-- Section 1 Osago Description Page --*/

.main-content h2 {
    font-family: "Noto Serif", Arial, Verdana, sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
    color: #232a32;
    text-align: center;
    padding: 20px 0;
}

.h-descript {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 26px;
    line-height: 36px;
    font-weight: normal;
    color: #1f2c37;
    text-align: center;
    padding: 20px 0;
}

.yellow-btn-big-block {

}

.yellow-btn-big {
    display: inline-block;
    vertical-align: top;
    min-width: 397px;
    text-align: center;
    cursor: pointer;
    background: rgba(251, 198, 35, 1);
    border: 2px solid #fbc623;
    margin: 23px 0;
    padding: 20px 1%;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 19px;
    line-height: 29px;
    font-weight: bold;
    color: #243746;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.yellow-btn-big:link,
.yellow-btn-big:visited {
    box-shadow: none;
}

.yellow-btn-big.active,
.yellow-btn-big:active {
    -webkit-box-shadow: 0px 6px 15px 0px rgba(251, 198, 35, .6);
    -moz-box-shadow: 0px 6px 15px 0px rgba(251, 198, 35, .6);
    box-shadow: 0px 6px 15px 0px rgba(251, 198, 35, .6);
}

.yellow-btn-big:hover {
    -webkit-box-shadow: 0px 6px 15px 0px rgba(251, 198, 35, .6);
    -moz-box-shadow: 0px 6px 15px 0px rgba(251, 198, 35, .6);
    box-shadow: 0px 6px 15px 0px rgba(251, 198, 35, .6);
}

.photo-icon {
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 28px;
    background-image: url(../img/photo_icon.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.yellow-btn-big .photo-icon {
    margin: 0 4% 0 0;
}

.yellow-tabs-block {
    margin: 17px 0;
    padding: 20px 0;
}

.yellow-tabs-block h3 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 26px;
    line-height: 29px;
    font-weight: normal;
    color: #243746;
}

.yellow-tabs-links {
    margin: 10px 0;
    text-align: center;
}

.yellow-tabs-links li {
    display: inline-block;
    vertical-align: top;
}

.yellow-tabs-links li a {
    display: block;
    width: 196px;
    padding: 12px 2%;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #243746;
    text-align: center;
    border: 1px solid #d6e2e8;
    background: rgb(255, 255, 255);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition-property: border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.yellow-tabs-links li a:link,
.yellow-tabs-links li a:visited {
    border: 1px solid #d6e2e8;
    background: rgb(255, 255, 255);
}

.yellow-tabs-links li a.active,
.yellow-tabs-links li a:active {
    background: rgb(251, 198, 35);
    border: 1px solid rgb(251, 198, 35);
}

.yellow-tabs-links li a:hover {
    background: rgb(251, 198, 35);
    border: 1px solid rgb(251, 198, 35);
}

.form-box {
    margin: 10px 0;
}

.form-box h3 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 26px;
    line-height: 29px;
    font-weight: normal;
    color: #243746;
    padding: 22px 0;
}

.form-box p {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #44596b;
}

.selects-block {
    padding: 39px 0 10px 0;
}

.select-box {
    padding: 18px 0;
}

.radio-box {
    position: relative;
}

.radio-box input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .001;
}

.radio-box label {
    display: inline-table;
    vertical-align: top;
    width: 100%;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    color: #243746;
    position: relative;
    padding: 0 2% 0 0;
}

.radio-box label:before {
    display: table-cell;
    vertical-align: top;
    content: "";
    width: 53px;
    height: auto;
    background-image: url(../img/radiobtn_sprite.png);
    background-position: -84px -2px;
    background-repeat: no-repeat;
}

.radio-box input[type="radio"]:checked + label:before  {
    background-position: -7px -2px;
}

.radio-btns-block h3 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #243746;
}

.radio-btns-block {
    margin: 0 0 37px 0;
}

.radio-btns-block h3.red-txt {
    color: #ed1c24;
}

.radio-btns-block h3 i {
    font-size: 23px;
    line-height: 23px;
    color: #778996;
    position: relative;
    top: 1px;
    margin: 0 0 0 6px;
}

.radio-btns-block .radio-box {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 9px 0;
}

.dashed-btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    min-width: 394px;
    margin: 10px 1%;
    padding: 17px 2%;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 33px;
    font-weight: normal;
    color: #243746;
    border: 2px dashed #b9c2d0;
    background: rgba(185, 194, 208, 0);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-transition-property: border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dashed-btn:link,
.dashed-btn:visited {
    border: 2px dashed #b9c2d0;
    background: rgba(185, 194, 208, 0);
}

.dashed-btn.active,
.dashed-btn:active {
    background: rgba(185, 194, 308, 1);
    border: 2px solid #b9c2d0;
}

.dashed-btn:hover {
    background: rgba(185, 194, 308, 1);
    border: 2px solid #b9c2d0;
}

.btns-two-cols button {
    width: 48%;
    min-width: auto;
}

.btns-two-cols button:nth-child(n+1) {
    margin: 10px 2% 10px 0;
}

.btns-two-cols button:nth-child(2n) {
    margin: 10px 0 10px 2%;
}

/*-- Sidebar --*/

.sidebar-header {

}

.two-cols-block.conpany-offer {
    display: table;
    width: 100%;
}

.two-cols-block.conpany-offer .col {
    display: table-cell;
    vertical-align: middle;
}

.two-cols-block.conpany-offer .col-1 {
    width: auto;
    padding: 0 3% 0 0;
}

.two-cols-block.conpany-offer .col-2 {
    width: auto;
    padding: 0 0 0 2%;
}

.conpany-offer .count-offers {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 86px;
    line-height: 98px;
    font-weight: bold;
    color: #a4b8c5;
}

.conpany-offer h3 {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 34px;
    line-height: 37px;
    font-weight: bold;
    color: #232a32;
}

.sidebar .yellow-tabs-block {
    margin: 0 0 38px 0;
    padding: 0;
}

.sidebar .yellow-tabs-links li {
    width: 33%;
    min-width: 128px;
}

.sidebar .yellow-tabs-links li a {
    width: 100%;
}

.sidebar-content {
    padding: 13px 0;
}

.company-item {
    display: table;
    width: 100%;
    padding: 12px 0 18px 0;
}

.company-item .col {
    display: table-cell;
    vertical-align: top;
}

.company-item .col-1 {
    width: 60%;
}

.company-item .col-2 {
    width: 40%;
    padding: 5px 0 0 0;
    text-align: right;
}

.company-item .offer-price {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 34px;
    line-height: 37px;
    font-weight: bold;
    color: #243746;
    padding: 6px 0;
}

.company-item .price {
    width: 100px;
    text-align: left;
    margin: 5px 0;    
    padding: 11px 2% 11px 9%;
}

.company-item .price p.p-1 {
    font-weight: bold;
}

/*-- Sidebar --*/

/*-- Section 1 Osago Description Page --*/

/*-- /Inner Page --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
}

.footer {
    background: rgb(33,45,58);
    background: -moz-linear-gradient(left, rgba(33,45,58,1) 0%, rgba(43,60,77,1) 49%, rgba(44,62,80,1) 100%);
    background: -webkit-linear-gradient(left, rgba(33,45,58,1) 0%,rgba(43,60,77,1) 49%,rgba(44,62,80,1) 100%);
    background: linear-gradient(to right, rgba(33,45,58,1) 0%,rgba(43,60,77,1) 49%,rgba(44,62,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212d3a', endColorstr='#2c3e50',GradientType=1 );
}

.footer .col {
    display: inline-block;
    vertical-align: top;
    padding: 48px 1%;
}

.footer .col-1 {
    width: 39%;
}

.footer .col-2 {
    width: 22%;
}

.footer .col-3 {
    width: 39%;
}

.seo-txt {
    font-size: 0;
    line-height: 0;
}

.seo-txt li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 16px 0;
}

.seo-txt li a {
    display: inline-block;
    vertical-align: top;
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: underline;
}

.seo-txt li a:link,
.seo-txt li a:visited {
    text-decoration: underline;
}

.seo-txt li a.active,
.seo-txt li a:active {
    text-decoration: none;
}

.seo-txt li a:hover {
    text-decoration: none;
}

.soc-links {
    margin: 3px 0 3px -10px;
}

.soc-links li {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.soc-links li a {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 50px;
    height: 50px;
    background: rgba(236, 182, 16, 0);
    border: 2px solid #ffffff;

    -webkit-transition-property: background, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.soc-links li a:link,
.soc-links li a:visited {
    background: rgba(236, 182, 16, 0);
    border: 2px solid #ffffff;
}

.soc-links li a.active {
    background: rgba(236, 182, 16, 1);
    border: 2px solid #ecb610;
}

.soc-links li a:active {
    background: rgba(236, 182, 16, 1);
    border: 2px solid #ecb610;
}

.soc-links li a:hover {
    background: rgba(236, 182, 16, 1);
    border: 2px solid #ecb610;
}

.soc-links li a i {
    display: inline-block;
    vertical-align: top;    
    font-size: 31px;
    line-height: 47px;
    color: #ffffff;
}

.mobiles {
    position: relative;
}

.mobiles-img {
    position: absolute;
    bottom: -56px;
    left: 0;
    max-width: 56%;
    max-height: auto;
    width: auto;
    height: auto;
}

.col-4-col-2 {
    display: inline-block;
    vertical-align: top;
    width: 38%;
    text-align: left;
}

.app-store-link-pill {
    display: table;
    float: left;
    width: 100%;
    max-width: 207px;
    margin: 13px 1%;
    padding: 7px 0 11px 0;
    font-size: 0;
    line-height: 0;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.app-store-link-pill:link,
.app-store-link-pill:visited {
    box-shadow: none;
}

.app-store-link-pill.active {
    -webkit-box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
    box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
}

.app-store-link-pill:active {
    -webkit-box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
    box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
}

.app-store-link-pill:hover {
    -webkit-box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
    box-shadow: 0px 4px 7px 1px rgba(255,255,255,0.5);
}

.app-store-link-pill .app-col {
    display: table-cell;
    vertical-align: middle;
    padding: 0 4%;
}

.app-store-link-pill .app-col-1 {    
    width: 51px;
    text-align: center;
    padding-top: 5px;
}

.app-store-link-pill .app-col-2 {
    width: auto;
    text-align: left;
}

.app-store-link-pill .app-col-1 img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

.app-store-link-pill p {
    font-family: "Avenir Next", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #1f2c37;
}

.app-store-link-pill p.p-1 {
    font-size: 17px;
    line-height: 21px;
    color: #4f6980;
    text-transform: lowercase;
}

